:root{
    --bg: #313338;
    --in: #383838;
    --text: #FFFFFF;
    --btn: #FFFFFF;
    --btn1: #2ECC70;
    --text_glow: 0px 0px 10px  #D2D2D2;
}
@font-face {
    font-family: 'GothamBold';
    src: url(../fonts/GothamBold.ttf);
}
*{
    font-family: 'GothamBold';
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
body{
    background: var(--bg);
    min-height: 100vh;
} 
.center{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.centerX{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.parent{
    position: relative;
}

.navbar{
    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar .logo {
    height: 50px;
}

.navbar a {
    color: var(--text);
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 20px;
}

.navbar .nav-links ul li.active a {
    color: var(--btn);
    font-weight: 600;
}

.navbar .menu-burge{
    display: none;
    position: absolute;
    top: 40px;
    right: 50px;
    width: 30px;
}

.backimg{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/landscape3.png);
    z-index: -1;
    background-size: cover;

}
.mainholder{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 700px;
    width: 100vw;
}
.mainbox{
    position: absolute;
    top: 50%;
    right: 16em;
    transform: translate(+50%, -50%);
    height: 500px;
    width: 400px;
    background: var(--in);
    border: none;
    background: rgba(34, 34, 34, 0.3);
    border-radius: 20px;
}

.foot{
    position: absolute;

    top: 90%;
    font-size: 14px;
}



.nav-links.mobile-menu {
    margin-left: 0;
}

@media screen and (max-width: 560px) {

    .navbar{
        padding: 0px;
    }

    .navbar .logo {
        position: absolute;
        height: 60px;
        top: 20px;
        left: 20px;
    }

    .navbar .menu-burge{
        display: block;
        position: absolute;
        top: 30px;
        z-index: 2;
    }



    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all .25s ease;
        z-index: 2;

    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 20px 0 ;
        font-size: 2em;
    }

    .mainbox{
        position: absolute;
        top:  67%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 500px;
        width: 100%;
        background: var(--in);
        border: none;
        background: rgba(34, 34, 34, 0.3);
        border-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;


    }
    
}

.glass{
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}